body {
margin: 0;
padding: 0;  
min-height: 100vh;
background-image: url("/images/bg.png");
background-size: cover;
    background-repeat: no-repeat;
}


.div_container {
  display: none;
}
.sign_Up {
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 40px;
  }

.signUp {
  width: 100%;
}

.signUp0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 2rem;
  font-family: 'Proxima Nova', sans-serif;
}

.signUp__0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 2rem;
  font-family: 'Proxima Nova', sans-serif;
}

.logo {
  cursor: pointer;
  margin-top: 1.5rem;
}
.signup_content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  min-width: 400px;
  width: 40%;
  padding: 3rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 40px;
  backface-visibility: hidden;
  opacity: 1;
  
}

.sign_text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin: 1rem;
  text-align: center;
  color: #2c393f;
}


.sign_typo1 {  
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 141% */

  text-align: center;
 cursor: pointer;
  color: #2c393f;
}

.wahalla {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.checkbox {
cursor: pointer;
display: flex;
align-content: center;
}
.forgot_P {
cursor: pointer;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16.0294px;
line-height: 19px;
text-align: right;
color: #2C393F;

}

.icons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 1rem;
}
.sign_icon {
  background-color: #eaebf1;
  width: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.btn_sty {
  margin: 0 auto;
  margin-top: 3rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.btn5 {
  font-family: 'Proxima Nova', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 141%;
  height: 2.3rem;
color: #ffffff;
margin: auto 0;
width: 10rem;
border: 0;
background-color:#d66233;
border-radius: 10px;
cursor: pointer;
}

.space {
  width: 80%;
  margin: 0 1rem;
}

  
  .footer{
    width: 70%;
    margin-right: 2rem;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    top: 100%;
}

@media (max-width: 550px) {
    .footer{
        margin: 0 auto;
    }
}
  .footer_icon {
    width: 100%;
    height: 100%;
  }

  /* footer alt */
    
    .footer_alt {
     display: flex;
     flex-direction: column-reverse;
     width: 100%;
     justify-content: end;
     align-items: flex-end;
     padding: 1rem 0;
      position:absolute;
      bottom: 0;
      right: 0;
     
    }
    

  

/* PAGE 1 */

/* btn 4 */
.btn4 {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 141%;
  height: 2.5rem;
  color: #ffffff;
  margin: auto 0;
  width: 90%;
  border: 0;

  background-color: #d66233;
  border-radius: 20px;
  cursor: pointer;
}


@media (min-width: 750px) {
  .signUp {
    background-size: cover;
  }
 
  .icons {
    margin-left: 2rem;
    margin: auto;
  }
  
}


@media (max-width: 850px) {
.btn_sty {
    width: 70%;
  }
  .btn5 {
    width: 100%;
    font-size: 14px;
    line-height: 0;
  }
  .space {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .signup_content {
    margin-top: 1rem;
  }
  .btn_sty {
    display: block;
    
  }
  .wahalla {
    flex-direction: column;
  }
  .forgot_P {
    text-align: center;
  }
  .checkbox {
    width: 100%;
    justify-content: center;
  }
  .space {
    margin: 1rem ;
    display: block;
  }
  
}

